.current-weather img {
  max-width: 150px;
}

.forecast img {
  max-width: 50px;
  margin: 0px auto;
}

.justify-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.border {
  border: 1px solid black;
}
